@{
    ViewBag.Title = "Home Page";
    Layout = "_layout";
}
<h1>Rays' HotDogs</h1>
<p>This will be a fun website with HotDogs !</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <input type="submit" value="Add" />
</form>